In [ ]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\ASF\OneDrive\Desktop\project_dashpord\car_prices_jordan.csv')
df.head()

   Unnamed: 0                   Model   Property    Power   Price
0           0             Byd F0 2018     Manual  1000 CC   6,900
1           1        Suzuki Alto 2023     manual   800 CC   8,250
2           2     Suzuki Celerio 2019  Automatic  1000 CC  10,499
3           3     Changan E Star 2023  Automatic     0 CC  10,990
4           4  Hyundai Grand i10 2020  Automatic  1250 CC  11,500

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  366 non-null    int64
 1   Model       366 non-null    object
 2   Property    366 non-null    object
 3   Power       366 non-null    object
 4   Price       366 non-null    object
dtypes: int64(1), object(4)
memory usage: 14.4+ KB

In [4]:
df['brand']=df['Model'].apply(lambda x: x.split(' ')[0])
df['Year']=df['Model'].apply(lambda x: x.split(' ')[-1])
df['Name_Model']=df['Model'].apply(lambda x: ' '.join(x.split(' ')[1:-1]))

df[['brand','Year','Name_Model']].head()

     brand  Year Name_Model
0      Byd  2018         F0
1   Suzuki  2023       Alto
2   Suzuki  2019    Celerio
3  Changan  2023     E Star
4  Hyundai  2020  Grand i10

In [7]:
df['Power_CC']=df['Power'].str.extract(('(\d+)')).astype(float)

In [8]:
df[['Power_CC','Power']].head()

   Power_CC    Power
0    1000.0  1000 CC
1     800.0   800 CC
2    1000.0  1000 CC
3       0.0     0 CC
4    1250.0  1250 CC

In [9]:
df['Price'].head()

0     6,900
1     8,250
2    10,499
3    10,990
4    11,500
Name: Price, dtype: object

In [10]:
df['Price_JD']=df['Price'].astype(str).str.replace(',','')

In [11]:
df['Price_JD']=pd.to_numeric(df['Price_JD'])

In [12]:
print(df[['Price', 'Price_JD']].head())

    Price  Price_JD
0   6,900      6900
1   8,250      8250
2  10,499     10499
3  10,990     10990
4  11,500     11500

In [13]:
df['Price_JD'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 366 entries, 0 to 365
Series name: Price_JD
Non-Null Count  Dtype
--------------  -----
366 non-null    int64
dtypes: int64(1)
memory usage: 3.0 KB

In [14]:
df['Year'].dtype

dtype('O')

In [15]:
df['Year'] = df['Year'].astype(str).str.replace(r'\D', '', regex=True)
df['Year']=pd.to_numeric(df['Year']).astype('Int64')

In [16]:
print(df['Year'].dtype)

Int64

In [18]:
df.head()

,Unnamed: 0,Model,Property,Power,Price,brand,Year,Name_Model,Power_CC,Price_JD
0,0,Byd F0 2018,Manual,1000 CC,"6,900",Byd,2018,F0,1000.0,6900
1,1,Suzuki Alto 2023,manual,800 CC,"8,250",Suzuki,2023,Alto,800.0,8250
2,2,Suzuki Celerio 2019,Automatic,1000 CC,"10,499",Suzuki,2019,Celerio,1000.0,10499
3,3,Changan E Star 2023,Automatic,0 CC,"10,990",Changan,2023,E Star,0.0,10990
4,4,Hyundai Grand i10 2020,Automatic,1250 CC,"11,500",Hyundai,2020,Grand i10,1250.0,11500

In [ ]:
def clean_property(prop):
    prop_lower = str(prop).lower()
    
    if 'automatic' in prop_lower:
        return 'Automatic'  
    elif 'a/t' in prop_lower:
        return 'Automatic'
    elif 'manual' in prop_lower:
        return 'Manual'
    else:
        return prop 

df['Property'] = df['Property'].apply(clean_property)

In [ ]:
Year_mean = df['Year'].mean()

Y_rounded = round(Year_mean)
df['Year'] = df['Year'].fillna(Y_rounded)

In [33]:
df

,Unnamed: 0,Model,Property,Power,Price,brand,Year,Name_Model,Power_CC,Price_JD
0,0,Byd F0 2018,Manual,1000 CC,"6,900",Byd,2018,F0,1000.0,6900
1,1,Suzuki Alto 2023,Manual,800 CC,"8,250",Suzuki,2023,Alto,800.0,8250
2,2,Suzuki Celerio 2019,Automatic,1000 CC,"10,499",Suzuki,2019,Celerio,1000.0,10499
3,3,Changan E Star 2023,Automatic,0 CC,"10,990",Changan,2023,E Star,0.0,10990
4,4,Hyundai Grand i10 2020,Automatic,1250 CC,"11,500",Hyundai,2020,Grand i10,1250.0,11500
...,...,...,...,...,...,...,...,...,...,...
361,361,Land Rover Range Rover 2023,Automatic,3000 CC,"203,350",Land,2023,Rover Range Rover,3000.0,203350
362,362,Maserati Quattroporte 2022,Automatic,3800 CC\nTurbo,"210,000",Maserati,2022,Quattroporte,3800.0,210000
363,363,Maserati Levante 2022,Automatic,3800 CC\nTurbo,"220,000",Maserati,2022,Levante,3800.0,220000
364,364,Genesis GV80 2022,Automatic,2500 CC\nTurbo,"239,500",Genesis,2022,GV80,2500.0,239500
365,365,Cadillac Ecalade V 2023,Manual,6200 CC,"250,000",Cadillac,2023,Ecalade V,6200.0,250000

In [ ]:
%pip install openpyxl

import openpyxl

df_cleaned=df[[
    'brand',
    'Name_Model',
    'Year',
    'Property',
    'Power_CC',
    'Price_JD'
]]

df_cleaned.to_excel('jordan_cars_cleand.xlsx', index=False)